# Fill out as necessary and rename the file to "env"

# Example: APPLE_DEVELOPER_NAME=Apple Development: Your Name (4MOCKDC0DE)
APPLE_DEVELOPER_NAME=

# Example: IOS_DEVICE_ID=6A04FE22-1F5E-5e74-AE1D-7FEAC3EDA25E
IOS_DEVICE_ID=

# Please put ios_profile.mobileprovision in the root directory
# To sign for building for device

# Example: ANDROID_SDK_LOCATION=/home/username/Android/Sdk
ANDROID_SDK_LOCATION=

# Example: ANDROID_NDK_LOCATION=/home/username/Android/Sdk/ndk/29.0.14206865
ANDROID_NDK_LOCATION=

# Example: ANDROID_JAVA_HOME=/home/username/opt/jdk-17.0.2
ANDROID_JAVA_HOME=

