# Fill out as necessary and rename the file to "env"

# Example: TODO
APPLE_DEVELOPER_NAME=

# Example: TODO
IOS_DEVICE_ID=

# Example: /home/username/Android/Sdk/build-tools/34.0.0
ANDROID_SDK_LOCATION=

# Example: /home/username/Android/Sdk/ndk/29.0.14206865
ANDROID_NDK_LOCATION=

# Example: /home/username/Downloads/jdk-17.0.2
ANDROID_JAVA_HOME=
